@import 'codemirror/lib/codemirror.css';
@import 'codemirror/theme/material.css';

.debugger-wrapper {
  padding: 60px 0px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.debugger-title {
  font-size: 2.4rem;
}

.debugger-warning {
  background-color: #fff7c9;
  padding: 1.4rem;
  border-radius: 6px;
  font-size: 0.8rem;
  line-height: 2;
}

.code-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.code-item {
  width: calc(50% - 0.5rem);
  position: relative;
  height: 500px;
}

.CodeMirror {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .debugger-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 760px) {
  .debugger-title {
    font-size: 1.6rem;
  }
}

.cm-jwt-header {
  color: red;
}
.cm-jwt-payload {
  color: green;
}
.cm-jwt-signature {
  color: blue;
}
.cm-jwt-dot {
  color: black;
}
